In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
df = pd.read_csv('datasets/games.csv')

In [63]:
df.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006-01-01,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985-01-01,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008-01-01,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009-01-01,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996-01-01,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  datetime64[ns]
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  float64
 10  rating           9949 non-null   object
dtypes: datetime64[ns](1), float64(6), object(4)
memory usage: 1.4+ MB

In [91]:
df.sample(10)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
14079,Transport Fever,PC,2016-01-01,Simulation,0.00,0.03,0.00,0.00,70.0,7.0,NaN
914,Madden NFL 09,PS3,2008-01-01,Sports,1.56,0.14,0.00,0.18,85.0,4.4,E
2265,Kung Fu Panda,Wii,2008-01-01,Action,0.50,0.32,0.00,0.09,70.0,6.7,E10+
10398,Mobile Suit Gundam Age: Universe Accel / Cosmi...,PSP,2012-01-01,Action,0.00,0.00,0.11,0.00,NaN,NaN,NaN
1494,MAG: Massive Action Game,PS3,2010-01-01,Shooter,0.77,0.29,0.09,0.16,NaN,NaN,NaN
470,Killzone 2,PS3,2009-01-01,Shooter,1.40,1.06,0.08,0.47,91.0,8.1,M
2445,Wii Fit U,WiiU,2013-01-01,Sports,0.35,0.23,0.21,0.05,72.0,7.7,E
11037,JASF: Jane's Advanced Strike Fighters,X360,2011-01-01,Simulation,0.06,0.02,0.00,0.01,45.0,4.5,T
15766,Bejeweled Blitz,PC,2010-01-01,Puzzle,0.00,0.01,0.00,0.00,NaN,5.0,E
3355,BeatMania Append 3rdMix,PS,1998-01-01,Simulation,0.00,0.00,0.56,0.04,NaN,NaN,NaN

Make columns lowercase.

I will use the lower() method on the strings of columns

In [57]:
df.columns = df.columns.str.lower()
df.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

Convert data types:

I will convert the `year_of_release` to datetime.

In [66]:
df.year_of_release.dtype

dtype('<M8[ns]')

In [59]:
df.year_of_release = pd.to_datetime(df.year_of_release, format='%Y')

I will change the `user_score` to float.

In [78]:
df.user_score.dtype

dtype('O')

In [90]:
df.user_score.value_counts()

5.0    2488
7.8     324
8.0     290
8.2     282
8.3     254
       ...
1.1       2
2.3       2
1.5       2
0.0       1
9.7       1
Name: user_score, Length: 95, dtype: int64

In [87]:
df.query('user_score == "tbd"').head()

Empty DataFrame
Columns: [name, platform, year_of_release, genre, na_sales, eu_sales, jp_sales, other_sales, critic_score, user_score, rating]
Index: []

But first I will change the "tbd" values to the average of the maximum user score rating(10), because at average the user did not explicitly decide whether it was a good or bad game.

In [86]:
df.loc[df['user_score'] == 'tbd', 'user_score'] = 5

In [89]:
df['user_score'] = df['user_score'].astype('float')

In [ ]:
#missing values