- protect clients data:
- develop a data transforming algorithm that would make it hard to recover personal information from the transformed data.

*Data masking or data obfuscation*

- prove that the algorithm works correctly
- the data should be protected in such a way that the quality of machine learning models doesn't suffer
- You don't need to pick the best model.

- steps to develop a new algorithm:
    - construct a theoretical proof using properties of models and the given task
    - formulate an algorithm for this proof
    - check that the algorithm is working correctly when applied to real data.
    
- We will use a simple method of data masking, based on an invertible matrix.

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('datasets/insurance_us.csv')

In [3]:
data.head()

   Gender   Age   Salary  Family members  Insurance benefits
0       1  41.0  49600.0               1                   0
1       0  46.0  38000.0               1                   1
2       0  29.0  21000.0               0                   0
3       0  21.0  41700.0               2                   0
4       1  28.0  26100.0               0                   0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Gender              5000 non-null   int64
 1   Age                 5000 non-null   float64
 2   Salary              5000 non-null   float64
 3   Family members      5000 non-null   int64
 4   Insurance benefits  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB