### Enlarging Groups

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
shopping = pd.Series(['milk', 'jamón', 'bread', 'potatoes', 'cucumbers'])
print(shopping) # a list of things that need to be purchased
print()
print(shopping.where(shopping != 'jamón', "I'll get by without it")) 
# the same list after checking how much money is in the account

0         milk
1        jamón
2        bread
3     potatoes
4    cucumbers
dtype: object

0                      milk
1    I'll get by without it
2                     bread
3                  potatoes
4                 cucumbers
dtype: object

In [3]:
#When you need to remove rows with omissions in a specific column, 
#its name is passed to the subset parameter of the dropna() method:
dataframe.dropna(subset=['column_name'])

NameError: name 'dataframe' is not defined

In [ ]:
final_stat.sort_values(by='median_time', ascending=True).plot(y='median_time', kind='bar', figsize=(10, 5))

In [ ]:
(final_stat
    .sort_values(by='median_time', ascending=True)
    .dropna(subset=['median_time'])
    .plot(y='median_time', kind='bar', figsize=(10, 5))
)

In [ ]:
final_stat.hist('stations', bins=100)

In [ ]:
ig_nets_stat = final_stat[final_stat['stations'] > 10]
print(big_nets_stat)

In [ ]:
station_stat_full['group_name'] = (
    station_stat_full['name']
    .where(station_stat_full['name'].isin(big_nets_stat.index), 'Others')
)

In [ ]:
stat_grouped.plot(y='count', kind='pie', figsize=(8, 8))

### Data broken up by Groups

In [5]:
IT_names = pd.DataFrame(
        {'name': ['Dylan', 'Dylan', 'Dylan', 'Luke', 'Luke', 'Matthew', 'Matthew'],
        'surname': ['Smith', 'Johnson', 'Williams', 'Brown', 'Hughes', 'Carter', 'Mitchell']
})
print(IT_names)
print()
for developer_name, developer_data in IT_names.groupby('name'):
        print('Name {} encountered{} times'.format(developer_name, len(developer_data)))

      name   surname
0    Dylan     Smith
1    Dylan   Johnson
2    Dylan  Williams
3     Luke     Brown
4     Luke    Hughes
5  Matthew    Carter
6  Matthew  Mitchell

Name Dylan encountered3 times
Name Luke encountered2 times
Name Matthew encountered2 times