### Enlarging Groups

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
shopping = pd.Series(['milk', 'jamón', 'bread', 'potatoes', 'cucumbers'])
print(shopping) # a list of things that need to be purchased
print()
print(shopping.where(shopping != 'jamón', "I'll get by without it")) 
# the same list after checking how much money is in the account

0         milk
1        jamón
2        bread
3     potatoes
4    cucumbers
dtype: object

0                      milk
1    I'll get by without it
2                     bread
3                  potatoes
4                 cucumbers
dtype: object

In [ ]:
#In order to selectively change value the where() method is used. 
#Two parameters are passed to it: a Boolean array and new values. If the Boolean array is True, 
#then the value corresponding to it will not change; 
#if it is False, then the value will change to the second parameter of the method.
data['column'].where(s > control_value, default_value)

In [3]:
#When you need to remove rows with omissions in a specific column, 
#its name is passed to the subset parameter of the dropna() method:
dataframe.dropna(subset=['column_name'])

NameError: name 'dataframe' is not defined

In [ ]:
final_stat.sort_values(by='median_time', ascending=True).plot(y='median_time', kind='bar', figsize=(10, 5))

In [ ]:
(final_stat
    .sort_values(by='median_time', ascending=True)
    .dropna(subset=['median_time'])
    .plot(y='median_time', kind='bar', figsize=(10, 5))
)

In [ ]:
final_stat.hist('stations', bins=100)

In [ ]:
ig_nets_stat = final_stat[final_stat['stations'] > 10]
print(big_nets_stat)

In [ ]:
station_stat_full['group_name'] = (
    station_stat_full['name']
    .where(station_stat_full['name'].isin(big_nets_stat.index), 'Others')
)

In [ ]:
stat_grouped.plot(y='count', kind='pie', figsize=(8, 8))

### Data broken up by Groups

In [5]:
IT_names = pd.DataFrame(
        {'name': ['Dylan', 'Dylan', 'Dylan', 'Luke', 'Luke', 'Matthew', 'Matthew'],
        'surname': ['Smith', 'Johnson', 'Williams', 'Brown', 'Hughes', 'Carter', 'Mitchell']
})
print(IT_names)
print()
for developer_name, developer_data in IT_names.groupby('name'):
        print('Name {} encountered{} times'.format(developer_name, len(developer_data)))

      name   surname
0    Dylan     Smith
1    Dylan   Johnson
2    Dylan  Williams
3     Luke     Brown
4     Luke    Hughes
5  Matthew    Carter
6  Matthew  Mitchell

Name Dylan encountered3 times
Name Luke encountered2 times
Name Matthew encountered2 times

In [ ]:
#In order to work with data by groups, there is the groupby () method that automatically goes through unique values. 
#Pass it a column, and it’ll return a sequence of pairs “value of the column — slice of data with this value”. 
#In the future, we’ll be able to process these slices according to our needs.
for column_value, column_slice in data.groupby('column'):
        # do something

In [6]:
IT_names.groupby('name').count()

         surname
name
Dylan          3
Luke           2
Matthew        2

In [ ]:
for name, group_data in good_data.groupby('group_name'):
    group_data.hist('time_spent', bins=50)

In [ ]:
for name, group_data in good_data.groupby('group_name'):
    group_data.plot(kind='hist', y='time_spent', bins=50, title=name)