### Scalar product

In [1]:
import numpy as np

volume = np.array([0.1, 0.3, 0.1])
content = np.array([0.4, 0.0, 0.1])

In [2]:
print(sum(volume * content))

0.05000000000000001

In [3]:
import numpy as np
import pandas as pd

store1_price = [209.9, 119.9, 53.9, 31.9, 19.9, 109.9, 59.99, 22.9, 81.11, 32.9]
store1_quantity = [19, 11, 8, 15, 23, 7, 14, 9, 10, 4]

store2_price = [209.9, 124.9, 42.9, 27.9, 23.9, 109.9, 49.9, 24.9, 89.9, 32.9]
store2_quantity = [10, 16, 20, 9, 18, 12, 10, 11, 18, 22]

models = ['Apple AirPods Pro',
          'Apple AirPods MV7N2RU/A',
          'JBL Tune 120TWS', 
          'JBL TUNE 500BT',
          'JBL JR300BT', 
          'Huawei Freebuds 3',
          'Philips TWS SHB2505',
          'Sony WH-CH500',
          'Sony WF-SP700N',
          'Sony WI-XB400',
         ]
stocks1 = pd.DataFrame({'Price':store1_price, 
                        'Quantity':store1_quantity}, index=models)
stocks2 = pd.DataFrame({'Price':store2_price, 
                        'Quantity':store2_quantity}, index=models)

print('Store 1\n', stocks1, '\n')
print('Store 2\n', stocks2)

Store 1
                           Price  Quantity
Apple AirPods Pro        209.90        19
Apple AirPods MV7N2RU/A  119.90        11
JBL Tune 120TWS           53.90         8
JBL TUNE 500BT            31.90        15
JBL JR300BT               19.90        23
Huawei Freebuds 3        109.90         7
Philips TWS SHB2505       59.99        14
Sony WH-CH500             22.90         9
Sony WF-SP700N            81.11        10
Sony WI-XB400             32.90         4

Store 2
                          Price  Quantity
Apple AirPods Pro        209.9        10
Apple AirPods MV7N2RU/A  124.9        16
JBL Tune 120TWS           42.9        20
JBL TUNE 500BT            27.9         9
JBL JR300BT               23.9        18
Huawei Freebuds 3        109.9        12
Philips TWS SHB2505       49.9        10
Sony WH-CH500             24.9        11
Sony WF-SP700N            89.9        18
Sony WI-XB400             32.9        22

In [6]:
stocks1 = pd.DataFrame({'Price':store1_price, 
                        'Quantity':store1_quantity}, index=models)
stocks2 = pd.DataFrame({'Price':store2_price, 
                        'Quantity':store2_quantity}, index=models)

stocks1_price = stocks1['Price'].values 
stocks1_quantity = stocks1['Quantity'].values 

stocks2_price = stocks2['Price'].values# < write code here >
stocks2_quantity = stocks2['Quantity'].values# < write code here >

# cost of stock for store 1
stocks1_cost = np.dot(stocks1_price, stocks1_quantity)# < write code here >

# cost of stock for store 2
stocks2_cost = np.dot(stocks2_price, stocks2_quantity)# < write code here >

total_cost = stocks1_cost + stocks2_cost# < write code here >

print('Total cost of stocks of two stores:', total_cost, 'USD')

Total cost of stocks of two stores: 19502.76 USD

### Planar Distance

In [7]:
import numpy as np

a = np.array([5, 6])
b = np.array([1, 3])
d = np.dot(a-b, a-b)**0.5
print('Distance between a and b is equal to', d)

Distance between a and b is equal to 5.0

In [8]:
import numpy as np
from scipy.spatial import distance

a = np.array([5, 6])
b = np.array([1, 3])
d = distance.euclidean(a, b)
print('Distance between a and b is equal to', d)

Distance between a and b is equal to 5.0

In [9]:
import numpy as np
import pandas as pd

latitude  = np.array([0.0, 7.03050245, 9.06193657, 0.1718145,
                      5.1383203, 0.11069032, 3.27703365, 5.36870287])
longitude = np.array([0., 0.18078584, 9.32526599, 17.09628721,
                      4.69820241, 11.57529305, 11.31769349, 14.63378951])
deliveries = np.array([5, 7, 4, 3, 5, 2, 1, 1])

town = ['Willowford',  
           'Otter Creek', 
           'Springfield', 
           'Arlingport', 
           'Spadewood',  
           'Goldvale',  
           'Bison Flats',  
           'Bison Hills']

data = pd.DataFrame({'Longitude, km': longitude,
                     'Latitude, km': latitude, 
                     'Deliveries': deliveries}, index=town)

print(data)

             Longitude, km  Latitude, km  Deliveries
Willowford        0.000000      0.000000           5
Otter Creek       0.180786      7.030502           7
Springfield       9.325266      9.061937           4
Arlingport       17.096287      0.171815           3
Spadewood         4.698202      5.138320           5
Goldvale         11.575293      0.110690           2
Bison Flats      11.317693      3.277034           1
Bison Hills      14.633790      5.368703           1

In [10]:
#To work with distances, create a table with vectors that show the location of all towns relative to Willowford:
vectors = data[["Longitude, km", "Latitude, km"]].values
print(vectors)

[[ 0.          0.        ]
 [ 0.18078584  7.03050245]
 [ 9.32526599  9.06193657]
 [17.09628721  0.1718145 ]
 [ 4.69820241  5.1383203 ]
 [11.57529305  0.11069032]
 [11.31769349  3.27703365]
 [14.63378951  5.36870287]]

In [11]:
#Let's optimize the delivery

distances = []
# < write code here >
for town_from in range(len(town)):
    row = []
    for town_to in range(len(town)):
        value = distance.euclidean(vectors[town_to], vectors[town_from])
        row.append(value)
    distances.append(row)   
distances_df = pd.DataFrame(distances, index=town, columns=town)
print(distances_df)

             Willowford  Otter Creek  Springfield  Arlingport  Spadewood  \
Willowford     0.000000     7.032826    13.003049   17.097151   6.962431
Otter Creek    7.032826     0.000000     9.367403   18.253103   4.897694
Springfield   13.003049     9.367403     0.000000   11.807753   6.066670
Arlingport    17.097151    18.253103    11.807753    0.000000  13.355848
Spadewood      6.962431     4.897694     6.066670   13.355848   0.000000
Goldvale      11.575822    13.331114     9.229704    5.521333   8.518887
Bison Flats   11.782578    11.752414     6.118404    6.560071   6.876194
Bison Hills   15.587520    14.548226     6.466869    5.750786   9.938258

              Goldvale  Bison Flats  Bison Hills
Willowford   11.575822    11.782578    15.587520
Otter Creek  13.331114    11.752414    14.548226
Springfield   9.229704     6.118404     6.466869
Arlingport    5.521333     6.560071     5.750786
Spadewood     8.518887     6.876194     9.938258
Goldvale      0.000000     3.176805     6.082853
Bison Flats   3.176805     0.000000     3.920660
Bison Hills   6.082853     3.920660     0.000000

In [12]:
deliveries_in_week = []
# < write code here >
for i in range(len(data)):
    deliv = 2 * np.dot(np.array(distances[i]), deliveries)
    deliveries_in_week.append(deliv)
deliveries_in_week_df = pd.DataFrame({'Distance': deliveries_in_week}, index=town)

print(deliveries_in_week_df)

print()
print('Warehouse town:', deliveries_in_week_df.idxmin()[0])

               Distance
Willowford   475.734656
Otter Creek  409.688787
Springfield  454.776713
Arlingport   701.242510
Spadewood    334.564924
Goldvale     513.067627
Bison Flats  459.977717
Bison Hills  577.345345

Warehouse town: Spadewood

### Manhattan Distance

In [13]:
import numpy as np

def manhattan_distance(first, second):
    # < write code here >
    return np.abs(first[0] - second[0]) + np.abs(first[1] - second[1])
first = np.array([3, 11])
second = np.array([1, 6])

print(manhattan_distance(first, second))

7

In [39]:
import numpy as np
import pandas as pd
from scipy.spatial import distance

avenues_df = pd.DataFrame([0, 153, 307, 524], index=['Park', 'Lexington', '3rd', '2nd'])
streets_df = pd.DataFrame([0, 81, 159, 240, 324], index=['76', '75', '74', '73', '72'])

address = ['Lexington', '74']
taxis = [
    ['Park', '72'],
    ['2nd', '75'],
    ['3rd', '76'],
]

address_vector = np.array([avenues_df.loc[address[0]], streets_df.loc[address[1]]])
taxi_distances = []
# < write code here >
for i in taxis:
    taxi = np.array([avenues_df.loc[i[0]], streets_df.loc[i[1]]])
    taxi_distances.append(distance.cityblock(address_vector, taxi))
    
index = np.argmin(taxi_distances)
# < write code here >
print(taxis[index])

['3rd', '76']

2

In [23]:
avenues_df

             0
Park         0
Lexington  153
3rd        307
2nd        524

In [24]:
streets_df

      0
76    0
75   81
74  159
73  240
72  324

In [25]:
taxis

[['Park', '72'], ['2nd', '75'], ['3rd', '76']]

In [26]:
address_vector

array([[153],
       [159]], dtype=int64)

### Metrics in Multidimensional Space

In [2]:
import numpy as np
#for Euclidean distance
a = np.array([4, 2, 3, 0, 5])
b = np.array([1, 0, 3, 2, 6])
d = np.dot(b - a, b - a)**0.5
print(d)

4.242640687119285

In [3]:
#for Manhattan distance
import numpy as np

a = np.array([4, 2, 3, 0, 5])
b = np.array([1, 0, 3, 2, 6])
d = np.abs(b - a).sum()
print(d)

8

In [4]:
#using SciPy
import numpy as np
from scipy.spatial import distance

a = np.array([4, 2, 3, 0, 5])
b = np.array([1, 0, 3, 2, 6])
d = distance.euclidean(a, b)
print(d)

4.242640687119285

In [5]:
import numpy as np
from scipy.spatial import distance

a = np.array([4, 2, 3, 0, 5])
b = np.array([1, 0, 3, 2, 6])
d = distance.cityblock(a, b)
print(d)

8

In [6]:
import pandas as pd

columns = ['bedrooms', 'total area', 'kitchen', 'living area', 'floor', 'total floors']
realty = [
    [1, 38.5, 6.9, 18.9, 3, 5],
    [1, 38.0, 8.5, 19.2, 9, 17],
    [1, 34.7, 10.3, 19.8, 1, 9],
    [1, 45.9, 11.1, 17.5, 11, 23],
    [1, 42.4, 10.0, 19.9, 6, 14],
    [1, 46.0, 10.2, 20.5, 3, 12],
    [2, 77.7, 13.2, 39.3, 3, 17],
    [2, 69.8, 11.1, 31.4, 12, 23],
    [2, 78.2, 19.4, 33.2, 4, 9],
    [2, 55.5, 7.8, 29.6, 1, 25],
    [2, 74.3, 16.0, 34.2, 14, 17],
    [2, 78.3, 12.3, 42.6, 23, 23],
    [2, 74.0, 18.1, 49.0, 8, 9],
    [2, 91.4, 20.1, 60.4, 2, 10],
    [3, 85.0, 17.8, 56.1, 14, 14],
    [3, 79.8, 9.8, 44.8, 9, 10],
    [3, 72.0, 10.2, 37.3, 7, 9],
    [3, 95.3, 11.0, 51.5, 15, 23],
    [3, 69.3, 8.5, 39.3, 4, 9],
    [3, 89.8, 11.2, 58.2, 24, 25],
]

df_realty = pd.DataFrame(realty, columns=columns)
print(df_realty)

    bedrooms  total area  kitchen  living area  floor  total floors
0          1        38.5      6.9         18.9      3             5
1          1        38.0      8.5         19.2      9            17
2          1        34.7     10.3         19.8      1             9
3          1        45.9     11.1         17.5     11            23
4          1        42.4     10.0         19.9      6            14
5          1        46.0     10.2         20.5      3            12
6          2        77.7     13.2         39.3      3            17
7          2        69.8     11.1         31.4     12            23
8          2        78.2     19.4         33.2      4             9
9          2        55.5      7.8         29.6      1            25
10         2        74.3     16.0         34.2     14            17
11         2        78.3     12.3         42.6     23            23
12         2        74.0     18.1         49.0      8             9
13         2        91.4     20.1         60.4      2            10
14         3        85.0     17.8         56.1     14            14
15         3        79.8      9.8         44.8      9            10
16         3        72.0     10.2         37.3      7             9
17         3        95.3     11.0         51.5     15            23
18         3        69.3      8.5         39.3      4             9
19         3        89.8     11.2         58.2     24            25

In [16]:
#vector_first = df_realty.query('@df_realty.index == 3')
vector_first = df_realty[df_realty.index == 3]
vector_second = df_realty[df_realty.index == 11]

In [ ]:
#or
vector_first = df_realty.loc[3].values
vector_second = df_realty.loc[11].values

In [17]:
d_eucl = distance.euclidean(vector_first, vector_second)
print(d_eucl)

42.73417835877976

In [18]:
d_city = distance.cityblock(vector_first, vector_second)
print(d_city)

71.7

In [34]:
# index of the preferred apartment
preference_index = 12
preference_vector = df_realty.loc[preference_index].values

distances = []# < write code here >

# < write code here >
for each in range(len(df_realty)):
    vector = df_realty.loc[each].values
    d = distance.euclidean(vector, preference_vector)
    distances.append(d)
distances.remove(0.0)
print(distances)
best_index = np.array(distances).argsort()[1]
print("Index of the most similar apartment:", best_index)

[48.30838436544945, 48.396280848842096, 50.07963658015102, 45.1315853920511, 44.056554563424505, 41.15410064622966, 14.859004004306618, 24.256957764732167, 16.88105446943407, 33.611010100858316, 17.98721768367748, 22.673552875542025, 21.765109694187164, 15.280706789936126, 11.09819805193618, 14.328293687665678, 27.501818121716965, 15.011329055083701, 29.91471209956733]
Index of the most similar apartment: 15

In [33]:
best_index

15

In [30]:
distances

[48.30838436544945,
 48.396280848842096,
 50.07963658015102,
 45.1315853920511,
 44.056554563424505,
 41.15410064622966,
 14.859004004306618,
 24.256957764732167,
 16.88105446943407,
 33.611010100858316,
 17.98721768367748,
 22.673552875542025,
 21.765109694187164,
 15.280706789936126,
 11.09819805193618,
 14.328293687665678,
 27.501818121716965,
 15.011329055083701,
 29.91471209956733]