In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [109]:
df = pd.read_csv('datasets/games.csv')

In [110]:
df.head()

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [139]:
df.sample(10)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
12245,Gundam Try Age SP,3DS,2014-01-01,Strategy,0.00,0.00,0.07,0.00,NaN,NaN,NaN
7696,UFC: Tapout,XB,2002-01-01,Fighting,0.14,0.05,0.00,0.01,NaN,NaN,NaN
4545,Naruto: Ninja Council 3,DS,2006-01-01,Action,0.39,0.00,0.00,0.03,56.0,6.5,E10+
6041,"Sakura Wars 4: Koi Seyo,Otome",DC,2002-01-01,Adventure,0.00,0.00,0.29,0.00,NaN,NaN,NaN
7418,Prince of Persia: Revelations,PSP,2005-01-01,Adventure,0.18,0.01,0.00,0.02,NaN,NaN,NaN
1475,The Elder Scrolls V: Skyrim,PS4,2016-01-01,Role-Playing,0.48,0.59,0.04,0.21,NaN,NaN,NaN
12105,Heavenly Guardian,Wii,2007-01-01,Shooter,0.06,0.00,0.00,0.00,NaN,5.0,E
8054,Mega Man Soccer,SNES,1993-01-01,Sports,0.04,0.01,0.13,0.00,NaN,NaN,NaN
2915,Chocobo's Dungeon 2,PS,1998-01-01,Role-Playing,0.04,0.03,0.58,0.05,NaN,NaN,NaN
12722,Samurai Warriors 4: Empires,PS3,2015-01-01,Action,0.00,0.00,0.06,0.00,NaN,5.0,T

### Data Preprocessing

Make columns lowercase.

I will use the lower() method on the strings of columns

In [113]:
df.columns = df.columns.str.lower()
df.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

Convert data types:

I will convert the `year_of_release` to datetime, to allow for time analysis in the years.

In [114]:
df.year_of_release.dtype

dtype('float64')

In [115]:
df.year_of_release = pd.to_datetime(df.year_of_release, format='%Y')

I will change the `user_score` to float, because it has ratings of float data types.

In [116]:
df.user_score.dtype

dtype('O')

In [117]:
df.user_score.value_counts()

tbd    2424
7.8     324
8       290
8.2     282
8.3     254
       ...
0.9       2
1.3       2
2.3       2
0         1
9.7       1
Name: user_score, Length: 96, dtype: int64

In [118]:
df.query('user_score == "tbd"').head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
119,Zumba Fitness,Wii,2010-01-01,Sports,3.45,2.59,0.0,0.66,NaN,tbd,E
301,Namco Museum: 50th Anniversary,PS2,2005-01-01,Misc,2.08,1.35,0.0,0.54,61.0,tbd,E10+
520,Zumba Fitness 2,Wii,2011-01-01,Sports,1.51,1.03,0.0,0.27,NaN,tbd,T
645,uDraw Studio,Wii,2010-01-01,Misc,1.65,0.57,0.0,0.20,71.0,tbd,E
657,Frogger's Adventures: Temple of the Frog,GBA,NaT,Adventure,2.15,0.18,0.0,0.07,73.0,tbd,E

But first I will change the "tbd" values to the average of the maximum user score rating(10), because at average the user did not explicitly decide whether it was a good or bad game.

In [119]:
df.loc[df['user_score'] == 'tbd', 'user_score'] = 5

In [120]:
df['user_score'] = df['user_score'].astype('float')

In [121]:
#missing values

Filling in missing values

In [141]:
df.isnull().sum()

name                  0
platform              0
year_of_release       0
genre                 0
na_sales              0
eu_sales              0
jp_sales              0
other_sales           0
critic_score       8578
user_score            0
rating             6766
dtype: int64

`name` column has two missing values

In [127]:
df[df['name'].isnull()]

Empty DataFrame
Columns: [name, platform, year_of_release, genre, na_sales, eu_sales, jp_sales, other_sales, critic_score, user_score, rating]
Index: []

In [150]:
df[df['name'] == 'Game']

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
659,Game,GEN,1993-01-01,Misc,1.78,0.53,0.00,0.08,NaN,-1.0,NaN
14244,Game,GEN,1993-01-01,Misc,0.00,0.00,0.03,0.00,NaN,-1.0,NaN

Looking at the missing names, it seems that it is the same game recorded twice with separate records for `jp_sales`.
I will fill in with an imaginary name.

In [125]:
#df.loc[df['name'].isnull(), 'name'] = 'Game'

In [151]:
#df.loc[df['name'] == 'Game']['jp_sales']

659      0.00
14244    0.03
Name: jp_sales, dtype: float64

`genre` has two missing values.

I will fill in as Miscelleanous since it can not be determined exactly what genre they belong to.

In [130]:
df.loc[df['genre'].isnull(), 'genre'] = 'Misc'

`year_of_release` has 269 randomly missing values.

The values could be missing because of lack of entry during data collection, or a program error during retrieval form the database.

I will forward-fill in randomly using the fillna() method.

In [133]:
#df[df['year_of_release'].isnull()]

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
8547,Alone in the Dark: The New Nightmare,PS,NaT,Adventure,0.09,0.06,0.00,0.01,77.0,8.1,M
183,Madden NFL 2004,PS2,NaT,Sports,4.26,0.26,0.01,0.71,94.0,8.5,E
3352,The Golden Compass,Wii,NaT,Action,0.26,0.28,0.00,0.07,35.0,6.8,E10+
16329,Brothers in Arms: Furious 4,X360,NaT,Shooter,0.01,0.00,0.00,0.00,NaN,NaN,M
13929,Sega Rally 2006,PS2,NaT,Racing,0.00,0.00,0.04,0.00,NaN,NaN,NaN
10465,Disney's Chicken Little: Ace In Action,Wii,NaT,Shooter,0.09,0.00,0.00,0.01,72.0,5.0,E10+
10486,Atsumare! Power Pro Kun no DS Koushien,DS,NaT,Sports,0.00,0.00,0.10,0.00,NaN,NaN,NaN
7353,Ghostbusters II,2600,NaT,Action,0.20,0.01,0.00,0.00,NaN,NaN,NaN
9293,Disney's Cinderella: Magical Dreams,GBA,NaT,Platform,0.10,0.04,0.00,0.00,69.0,5.0,E
8680,Jurassic Park: The Game,X360,NaT,Action,0.15,0.00,0.00,0.01,60.0,3.6,T
12568,Prinny: Can I Really Be The Hero? (US sales),PSP,NaT,Action,0.06,0.00,0.00,0.00,NaN,NaN,NaN
5800,Slot Machine,2600,NaT,Action,0.29,0.02,0.00,0.00,NaN,NaN,NaN
4848,Harvest Moon: Save the Homeland,PS2,NaT,Simulation,0.19,0.15,0.00,0.05,76.0,8.8,E
16448,Inversion,PC,NaT,Shooter,0.01,0.00,0.00,0.00,59.0,6.7,M
4127,Sonic the Hedgehog,PS3,NaT,Platform,0.00,0.48,0.00,0.00,43.0,4.1,E10+
9817,Street Hoops,GC,NaT,Sports,0.09,0.02,0.00,0.00,56.0,7.3,T
15119,Legacy of Ys: Books I & II,DS,NaT,Role-Playing,0.02,0.00,0.00,0.00,NaN,NaN,NaN
14252,Swords,Wii,NaT,Fighting,0.03,0.00,0.00,0.00,NaN,5.0,T
15535,Runaway: A Twist of Fate,DS,NaT,Adventure,0.00,0.02,0.00,0.00,66.0,NaN,T
2132,LEGO Harry Potter: Years 5-7,X360,NaT,Action,0.51,0.37,0.00,0.09,77.0,7.9,E10+
4205,Tiger Woods PGA Tour 07,Wii,NaT,Sports,0.43,0.00,0.00,0.04,71.0,6.9,E
15754,Virtua Quest,PS2,NaT,Role-Playing,0.01,0.01,0.00,0.00,53.0,7.6,T
5443,Bejeweled 3,DS,NaT,Puzzle,0.29,0.02,0.00,0.02,75.0,5.0,E
10050,Star Trek: Conquest,PS2,NaT,Strategy,0.06,0.04,0.00,0.01,54.0,9.1,E
12003,Tornado,DS,NaT,Action,0.07,0.00,0.00,0.00,44.0,5.0,E
16180,WRC: FIA World Rally Championship,PC,NaT,Racing,0.00,0.01,0.00,0.00,65.0,NaN,RP
7367,Robotech: Battlecry,XB,NaT,Shooter,0.16,0.05,0.00,0.01,74.0,7.0,T
11565,Rock Revolution,Wii,NaT,Misc,0.07,0.00,0.00,0.01,46.0,5.0,T
15953,PDC World Championship Darts 2008,DS,NaT,Sports,0.01,0.00,0.00,0.00,NaN,NaN,NaN
9485,Street Fighter IV,PC,NaT,Fighting,0.07,0.05,0.00,0.02,91.0,8.0,T
1840,Rock Band,PS2,NaT,Misc,0.71,0.06,0.00,0.35,82.0,6.8,T
8260,Backbreaker,PS3,NaT,Sports,0.16,0.00,0.00,0.01,58.0,7.0,E
8151,Otomedius Excellent,X360,NaT,Shooter,0.13,0.00,0.04,0.01,48.0,8.1,T
11433,Zero: Tsukihami no Kamen,Wii,NaT,Action,0.00,0.00,0.08,0.00,NaN,NaN,NaN
11016,Samurai Shodown Anthology,PSP,NaT,Fighting,0.08,0.00,0.00,0.01,NaN,5.0,T
12959,Mountain Bike Adrenaline,PS2,NaT,Sports,0.03,0.02,0.00,0.01,NaN,5.0,E
12734,Mobile Ops: The One Year War,X360,NaT,Simulation,0.00,0.00,0.06,0.00,NaN,NaN,NaN
15704,Writing and Speaking Beautiful Japanese DS,DS,NaT,Misc,0.00,0.00,0.02,0.00,NaN,NaN,NaN
16157,Aquaman: Battle for Atlantis,XB,NaT,Action,0.01,0.00,0.00,0.00,26.0,2.7,T
11925,Port Royale 3,PS3,NaT,Simulation,0.06,0.00,0.00,0.01,NaN,8.9,T
6199,Pac-Man Fever,GC,NaT,Misc,0.21,0.06,0.00,0.01,54.0,6.3,E
1142,Rock Band,PS3,NaT,Misc,0.99,0.41,0.00,0.22,92.0,8.4,T
9876,Major League Baseball 2K6,PSP,NaT,Sports,0.11,0.00,0.00,0.01,69.0,5.0,E
6899,Danganronpa: Trigger Happy Havoc,PSP,NaT,Misc,0.00,0.00,0.24,0.00,NaN,NaN,NaN
2492,MLB SlugFest 20-03,PS2,NaT,Sports,0.41,0.32,0.00,0.11,77.0,8.2,E
9830,Godzilla: Destroy All Monsters Melee,XB,NaT,Fighting,0.09,0.03,0.00,0.00,71.0,6.8,T
6356,Rock Revolution,PS3,NaT,Misc,0.25,0.00,0.00,0.02,42.0,6.6,T
6624,College Hoops 2K6,PS2,NaT,Sports,0.12,0.10,0.00,0.03,77.0,7.3,E
4437,Super Breakout,2600,NaT,Puzzle,0.41,0.03,0.00,0.00,NaN,NaN,NaN
3081,LEGO Harry Potter: Years 5-7,DS,NaT,Action,0.34,0.25,0.00,0.07,69.0,5.0,E10+

In [136]:
df['year_of_release'].fillna(method='ffill', inplace=True)

`critic_score` and `user_score` have missing values that could be caused at the collection point whereby a user/critic did not provide this data.

I will fill in the `user_score` with -1, to show that this data was not provided.

In [138]:
#df[df['critic_score'].isnull()]

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
1,Super Mario Bros.,NES,1985-01-01,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
4,Pokemon Red/Pokemon Blue,GB,1996-01-01,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
5,Tetris,GB,1989-01-01,Puzzle,23.20,2.26,4.22,0.58,NaN,NaN,NaN
9,Duck Hunt,NES,1984-01-01,Shooter,26.93,0.63,0.28,0.47,NaN,NaN,NaN
10,Nintendogs,DS,2005-01-01,Simulation,9.05,10.95,1.93,2.74,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016-01-01,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006-01-01,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016-01-01,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003-01-01,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016-01-01,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

In [140]:
df['user_score'].fillna(value=-1, inplace=True)

I will leave the missing values as is, in the `critic_score` because it does not affect my analysis.

The `rating` column will also be left blank since this feature will be critical in my analysis.

In [143]:
df.duplicated().sum()

0

#### Calculations:

- Total sales for each game
    - I will add the na, eu, jp and other sales columns

In [161]:
df['total_sales'] = df['eu_sales'] + df['na_sales'] +df['jp_sales'] +df['other_sales']

In [162]:
df.head(10)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,total_sales
0,Wii Sports,Wii,2006-01-01,Sports,41.36,28.96,3.77,8.45,76.0,8.0,E,82.54
1,Super Mario Bros.,NES,1985-01-01,Platform,29.08,3.58,6.81,0.77,NaN,-1.0,NaN,40.24
2,Mario Kart Wii,Wii,2008-01-01,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E,35.52
3,Wii Sports Resort,Wii,2009-01-01,Sports,15.61,10.93,3.28,2.95,80.0,8.0,E,32.77
4,Pokemon Red/Pokemon Blue,GB,1996-01-01,Role-Playing,11.27,8.89,10.22,1.00,NaN,-1.0,NaN,31.38
5,Tetris,GB,1989-01-01,Puzzle,23.20,2.26,4.22,0.58,NaN,-1.0,NaN,30.26
6,New Super Mario Bros.,DS,2006-01-01,Platform,11.28,9.14,6.50,2.88,89.0,8.5,E,29.80
7,Wii Play,Wii,2006-01-01,Misc,13.96,9.18,2.93,2.84,58.0,6.6,E,28.91
8,New Super Mario Bros. Wii,Wii,2009-01-01,Platform,14.44,6.94,4.70,2.24,87.0,8.4,E,28.32
9,Duck Hunt,NES,1984-01-01,Shooter,26.93,0.63,0.28,0.47,NaN,-1.0,NaN,28.31

### Data Analysis

In [163]:
df.pivot_table(index='year_of_release', values='name', aggfunc=['count'])

                count
                 name
year_of_release
1980-01-01          9
1981-01-01         47
1982-01-01         37
1983-01-01         17
1984-01-01         14
1985-01-01         14
1986-01-01         21
1987-01-01         16
1988-01-01         15
1989-01-01         17
1990-01-01         16
1991-01-01         41
1992-01-01         44
1993-01-01         62
1994-01-01        121
1995-01-01        222
1996-01-01        268
1997-01-01        294
1998-01-01        386
1999-01-01        342
2000-01-01        358
2001-01-01        488
2002-01-01        849
2003-01-01        793
2004-01-01        770
2005-01-01        954
2006-01-01       1025
2007-01-01       1215
2008-01-01       1449
2009-01-01       1440
2010-01-01       1278
2011-01-01       1149
2012-01-01        666
2013-01-01        555
2014-01-01        590
2015-01-01        619
2016-01-01        514