Open and check data.

In [116]:
import pandas as pd
import numpy as np

In [117]:
train = pd.read_csv('datasets/gold_recovery_train.csv')
test = pd.read_csv('datasets/gold_recovery_test.csv')
full = pd.read_csv('datasets/gold_recovery_full.csv')

In [118]:
full.head()

,date,final.output.concentrate_ag,final.output.concentrate_pb,final.output.concentrate_sol,final.output.concentrate_au,final.output.recovery,final.output.tail_ag,final.output.tail_pb,final.output.tail_sol,final.output.tail_au,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
0,2016-01-15 00:00:00,6.055403,9.889648,5.507324,42.192020,70.541216,10.411962,0.895447,16.904297,2.143149,...,14.016835,-502.488007,12.099931,-504.715942,9.925633,-498.310211,8.079666,-500.470978,14.151341,-605.841980
1,2016-01-15 01:00:00,6.029369,9.968944,5.257781,42.701629,69.266198,10.462676,0.927452,16.634514,2.224930,...,13.992281,-505.503262,11.950531,-501.331529,10.039245,-500.169983,7.984757,-500.582168,13.998353,-599.787184
2,2016-01-15 02:00:00,6.055926,10.213995,5.383759,42.657501,68.116445,10.507046,0.953716,16.208849,2.257889,...,14.015015,-502.520901,11.912783,-501.133383,10.070913,-500.129135,8.013877,-500.517572,14.028663,-601.427363
3,2016-01-15 03:00:00,6.047977,9.977019,4.858634,42.689819,68.347543,10.422762,0.883763,16.532835,2.146849,...,14.036510,-500.857308,11.999550,-501.193686,9.970366,-499.201640,7.977324,-500.255908,14.005551,-599.996129
4,2016-01-15 04:00:00,6.148599,10.142511,4.939416,42.774141,66.927016,10.360302,0.792826,16.525686,2.055292,...,14.027298,-499.838632,11.953070,-501.053894,9.925709,-501.686727,7.894242,-500.356035,13.996647,-601.496691

In [119]:
#train.info()

- Calculate recovery

In [120]:
C = train['rougher.output.concentrate_au']
F= train['rougher.input.feed_au']
T = train['rougher.output.tail_au']
feature_recovery = train['rougher.output.recovery']

In [121]:
R = ((C * (F - T)) / (F * (C - T))) * 100

In [122]:
R.head(), feature_recovery.head()

(0    87.107763
 1    86.843261
 2    86.842308
 3    87.226430
 4    86.688794
 dtype: float64,
 0    87.107763
 1    86.843261
 2    86.842308
 3    87.226430
 4    86.688794
 Name: rougher.output.recovery, dtype: float64)

In [123]:
mae = np.sum(np.abs(R - feature_recovery)) / len(feature_recovery)

In [124]:
mae

8.00350954615662e-15

**The recovery was calculated correctly since the MAE is a low value.**

- Features not available in the test set:
    - What are these parameters?
    - What is their type?

In [125]:
#train.info()

In [126]:
train_cols = list(train.columns)
test_cols = list(test.columns)

In [127]:
non_test_cols = []
for i in train_cols:
    if i not in test_cols:
        non_test_cols.append(i)

In [128]:
print(len(train_cols))
print(len(test_cols))
len(non_test_cols)

87
53

34

In [129]:
non_test_cols

['final.output.concentrate_ag',
 'final.output.concentrate_pb',
 'final.output.concentrate_sol',
 'final.output.concentrate_au',
 'final.output.recovery',
 'final.output.tail_ag',
 'final.output.tail_pb',
 'final.output.tail_sol',
 'final.output.tail_au',
 'primary_cleaner.output.concentrate_ag',
 'primary_cleaner.output.concentrate_pb',
 'primary_cleaner.output.concentrate_sol',
 'primary_cleaner.output.concentrate_au',
 'primary_cleaner.output.tail_ag',
 'primary_cleaner.output.tail_pb',
 'primary_cleaner.output.tail_sol',
 'primary_cleaner.output.tail_au',
 'rougher.calculation.sulfate_to_au_concentrate',
 'rougher.calculation.floatbank10_sulfate_to_au_feed',
 'rougher.calculation.floatbank11_sulfate_to_au_feed',
 'rougher.calculation.au_pb_ratio',
 'rougher.output.concentrate_ag',
 'rougher.output.concentrate_pb',
 'rougher.output.concentrate_sol',
 'rougher.output.concentrate_au',
 'rougher.output.recovery',
 'rougher.output.tail_ag',
 'rougher.output.tail_pb',
 'rougher.output.tail_sol',
 'rougher.output.tail_au',
 'secondary_cleaner.output.tail_ag',
 'secondary_cleaner.output.tail_pb',
 'secondary_cleaner.output.tail_sol',
 'secondary_cleaner.output.tail_au']

**The features not available in the test set are product parameters and calculation characteristics of all the stages. They are float types.**

- Data preprocessing

I will drop all the columns from the trained data that are not in the test data.

In [140]:
#test.isnull().sum()

In [143]:
test.shape

(5856, 53)

In [134]:
train.fillna(method='ffill', inplace=True)

In [138]:
test.fillna(method='ffill', inplace=True)

In [ ]:
#check for duplicates

In [141]:
train.duplicated().sum()

0

In [142]:
test.duplicated().sum()

0

In [ ]:
#train.drop(non_test_cols, axis=1, inplace=True)

In [ ]:
#train.info()

In [144]:
train['primary_cleaner.output.concentrate_au'].mean()

29.04178611284153

In [145]:
train['primary_cleaner.output.concentrate_ag'].mean()

7.390584868840604

In [146]:
train['primary_cleaner.output.concentrate_pb'].mean()

8.493673483928095