In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv('credit_scoring_eng.csv')
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [4]:
df.shape

(21525, 12)

In [5]:
df.sample(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
9204,0,-728.505315,39,Bachelor's Degree,0,civil partnership,1,F,employee,0,22561.683,profile education
2461,1,-4714.446461,60,secondary education,1,civil partnership,1,M,employee,0,28588.506,wedding ceremony
14455,0,371325.615879,55,secondary education,1,widow / widower,2,F,retiree,0,13529.525,real estate transactions
14576,0,387786.824509,57,secondary education,1,married,0,F,retiree,0,27703.512,housing transactions
6505,1,-3129.804682,26,Bachelor's Degree,0,married,0,F,business,0,36212.968,transactions with commercial real estate

In [6]:
df.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,19351.000000
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,26787.568355
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,16475.450632
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,3306.762000
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,16488.504500
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,23202.870000
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,32549.611000
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,362496.645000

In [7]:
df.columns

Index(['children', 'days_employed', 'dob_years', 'education', 'education_id',
       'family_status', 'family_status_id', 'gender', 'income_type', 'debt',
       'total_income', 'purpose'],
      dtype='object')

In [8]:
df.drop(['days_employed'], axis=1, inplace=True)

In [9]:
df['education'].value_counts()

secondary education    13750
bachelor's degree       4718
SECONDARY EDUCATION      772
Secondary Education      711
some college             668
BACHELOR'S DEGREE        274
Bachelor's Degree        268
primary education        250
Some College              47
SOME COLLEGE              29
PRIMARY EDUCATION         17
Primary Education         15
graduate degree            4
GRADUATE DEGREE            1
Graduate Degree            1
Name: education, dtype: int64

In [10]:
df['education'] = df['education'].str.lower()

In [11]:
df['family_status'].value_counts()

married              12380
civil partnership     4177
unmarried             2813
divorced              1195
widow / widower        960
Name: family_status, dtype: int64

In [12]:
df.gender.value_counts()
df.reset_index(drop=True)
df.index

RangeIndex(start=0, stop=21525, step=1)

In [13]:
df['income_type'].value_counts()
#should a student be unemployed?

employee                       11119
business                        5085
retiree                         3856
civil servant                   1459
unemployed                         2
entrepreneur                       2
student                            1
paternity / maternity leave        1
Name: income_type, dtype: int64

In [14]:
df['debt'].value_counts()

0    19784
1     1741
Name: debt, dtype: int64

In [15]:
df.total_income.describe()

count     19351.000000
mean      26787.568355
std       16475.450632
min        3306.762000
25%       16488.504500
50%       23202.870000
75%       32549.611000
max      362496.645000
Name: total_income, dtype: float64

In [16]:
df['dob_years'].unique()

array([42, 36, 33, 32, 53, 27, 43, 50, 35, 41, 40, 65, 54, 56, 26, 48, 24,
       21, 57, 67, 28, 63, 62, 47, 34, 68, 25, 31, 30, 20, 49, 37, 45, 61,
       64, 44, 52, 46, 23, 38, 39, 51,  0, 59, 29, 60, 55, 58, 71, 22, 73,
       66, 69, 19, 72, 70, 74, 75], dtype=int64)

In [17]:
df['dob_years'].describe()

count    21525.000000
mean        43.293380
std         12.574584
min          0.000000
25%         33.000000
50%         42.000000
75%         53.000000
max         75.000000
Name: dob_years, dtype: float64

In [18]:
df['family_status_id'].value_counts()

0    12380
1     4177
4     2813
3     1195
2      960
Name: family_status_id, dtype: int64

In [19]:
df['education_id'].value_counts()

1    15233
0     5260
2      744
3      282
4        6
Name: education_id, dtype: int64

In [20]:
#count number of nulls in every column
df.isnull().sum()

children               0
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [21]:
#fill nulls with 0 along columns
df.fillna(value=0, axis=1, inplace=True)

In [22]:
df.loc[df['dob_years'] == 0]

,children,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
99,0,0,secondary education,1,married,0,F,retiree,0,11406.644,car
149,0,0,secondary education,1,divorced,3,F,employee,0,11228.230,housing transactions
270,3,0,secondary education,1,married,0,F,employee,0,16346.633,housing renovation
578,0,0,secondary education,1,married,0,F,retiree,0,15619.310,construction of own property
1040,0,0,bachelor's degree,0,divorced,3,F,business,0,48639.062,to own a car
...,...,...,...,...,...,...,...,...,...,...,...
19829,0,0,secondary education,1,married,0,F,employee,0,0.000,housing
20462,0,0,secondary education,1,married,0,F,retiree,0,41471.027,purchase of my own house
20577,0,0,secondary education,1,unmarried,4,F,retiree,0,20766.202,property
21179,2,0,bachelor's degree,0,married,0,M,business,0,38512.321,building a real estate
21313,0,0,secondary education,1,unmarried,4,M,employee,0,24387.070,housing transactions

In [23]:
df.loc[df['dob_years'] == 0, 'dob_years'] = df['dob_years'].median() 
df['dob_years'].describe()

count    21525.000000
mean        43.490453
std         12.218595
min         19.000000
25%         34.000000
50%         42.000000
75%         53.000000
max         75.000000
Name: dob_years, dtype: float64

In [24]:
#Change data types:
#dob_years to integer
df['dob_years'] = df['dob_years'].astype(np.int64)

In [25]:
df['gender'] = df['gender'].astype('category')
df.gender.dtype

CategoricalDtype(categories=['F', 'M', 'XNA'], ordered=False)

In [26]:
df['education'] = df['education'].astype('category')

In [27]:
df.purpose.nunique()

38

In [28]:
df['purpose'].value_counts()

wedding ceremony                            797
having a wedding                            777
to have a wedding                           774
real estate transactions                    676
buy commercial real estate                  664
housing transactions                        653
buying property for renting out             653
transactions with commercial real estate    651
purchase of the house                       647
housing                                     647
purchase of the house for my family         641
construction of own property                635
property                                    634
transactions with my real estate            630
building a real estate                      626
buy real estate                             624
purchase of my own house                    620
building a property                         620
housing renovation                          612
buy residential real estate                 607
buying my own car                           505
going to university                         496
car                                         495
second-hand car purchase                    489
to own a car                                480
buying a second-hand car                    479
cars                                        478
to buy a car                                472
supplementary education                     462
car purchase                                462
purchase of a car                           455
university education                        453
education                                   447
to get a supplementary education            447
getting an education                        443
profile education                           436
getting higher education                    426
to become educated                          412
Name: purpose, dtype: int64

In [29]:
df['income_type'] = df['income_type'].astype('category')

In [30]:
df['family_status'] = df['family_status'].astype('category')

In [31]:
df.dtypes

children               int64
dob_years              int64
education           category
education_id           int64
family_status       category
family_status_id       int64
gender              category
income_type         category
debt                   int64
total_income         float64
purpose               object
dtype: object

In [32]:
#Stemming and lemmatization
queries = list(df['purpose'])
print(type(queries))
queries[:10]

<class 'list'>

['purchase of the house',
 'car purchase',
 'purchase of the house',
 'supplementary education',
 'to have a wedding',
 'purchase of the house',
 'housing transactions',
 'education',
 'having a wedding',
 'purchase of the house for my family']

In [33]:
counter = 0
for query in queries:
    if 'housing' in query:
        counter += 1
print(counter)

1912

from nltk.stem import SnowballStemmer 
english_stemmer = SnowballStemmer('english')
words = queries
for word in words:
    for each in word.split(' '):
        #print('Source word -', word, ', after stemming -', english_stemmer.stem(each))

educ_counter = 0
for query in queries:
    for word in query.split(' '):
        stemmed_word = english_stemmer.stem(word)
        if stemmed_word == 'educ':
            counter += 1
print(counter)

property_counter = 0
for query in queries:
    for word in query.split(' '):
        stemmed_word = english_stemmer.stem(word)
        if stemmed_word == 'properti':
            counter += 1
print(counter)

for query in queries:
    if 'educated' in query:
        cat.append('Education')

In [34]:
from nltk.stem import SnowballStemmer
stemmer = SnowballStemmer('english')
words = ['wedding', 'estate', 'housing', 'house', 'property', 'car', 'education', 'university', 'educated']
stemmed_word = []
for word in words:
    stemmed_word.append(stemmer.stem(word))
print(stemmed_word)

['wed', 'estat', 'hous', 'hous', 'properti', 'car', 'educ', 'univers', 'educ']

In [35]:
stemmed_word_uniq = ['wed', 'estat', 'hous', 'properti', 'car', 'educ', 'univers']
cat = []
for query in queries:
    for word in query.split(' '):
        for each in stemmed_word_uniq:
            if stemmer.stem(word) == each:
                cat.append(word)
print(len(cat))

21978

In [36]:
cat[:20]

['house',
 'car',
 'house',
 'education',
 'wedding',
 'house',
 'housing',
 'education',
 'wedding',
 'house',
 'estate',
 'estate',
 'wedding',
 'car',
 'estate',
 'property',
 'property',
 'property',
 'car',
 'car']

In [37]:
purpose_id = []
real_estate = ['estate', 'housing', 'house', 'property']
education = ['education', 'university'] 
for i in cat:
    for each in real_estate:
        if i == each:
            purpose_id.append(each)
print(len(purpose_id))

10840

In [38]:
for i in cat:
    for each in education:
        if i == each:
            purpose_id.append(each)
print(len(purpose_id))

14903

In [39]:
for i in cat:
    if i == 'wedding':
        purpose_id.append('wedding')
print(len(purpose_id))

17251

In [40]:
for i in cat:
    if i == 'car':
        purpose_id.append('car')
print(len(purpose_id))

21088

In [41]:
cat2 = []
for query in df.purpose:
    for word in query.split(' '):
        for each in stemmed_word_uniq:
            if stemmer.stem(word) == each:
                cat2.append(word)

In [42]:
#df['purpose_name'] = pd.Series(cat2, dtype='object') #create an empty column
df.columns

Index(['children', 'dob_years', 'education', 'education_id', 'family_status',
       'family_status_id', 'gender', 'income_type', 'debt', 'total_income',
       'purpose'],
      dtype='object')

In [48]:
def purpose_category(purpose):
    for query in df.purpose:
        for each in query.split(' '):
            stem = stemmer.stem(each)
            if stem == 'wed':
                return 'Wedding'
            if stem == 'estat':
                return 'Real Estate'
            if stem == 'hous':
                return 'Real Estate'
            if stem == 'properti':
                return 'Real Estate'
            if stem == 'car':
                return 'Car'
            if stem == 'educ':
                return 'Education'
            if stem == 'univers':
                return 'Education'
            else:
                return 'unknown stem'
 
df['purpose_category'] = df['purpose'].apply(purpose_category)    
 
 
df['purpose_category'].value_counts()

unknown stem    21525
Name: purpose_category, dtype: int64

In [57]:
df.sample(50)

,children,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category,purpose2
7154,0,44,secondary education,1,civil partnership,1,M,business,0,21146.053,buy residential real estate,unknown stem,hous
14886,0,56,secondary education,1,married,0,M,retiree,1,32049.517,property,unknown stem,hous
15762,20,41,secondary education,1,married,0,F,employee,0,22964.714,supplementary education,unknown stem,hous
17309,0,43,bachelor's degree,0,unmarried,4,F,employee,0,43283.550,to become educated,unknown stem,hous
4195,1,58,secondary education,1,married,0,F,retiree,0,13546.819,building a real estate,unknown stem,hous
7723,1,35,bachelor's degree,0,married,0,F,business,0,23084.157,real estate transactions,unknown stem,hous
18187,0,67,secondary education,1,civil partnership,1,F,retiree,0,27144.736,supplementary education,unknown stem,hous
7583,0,40,bachelor's degree,0,civil partnership,1,F,business,0,17435.812,to have a wedding,unknown stem,hous
21502,1,42,secondary education,1,married,0,F,employee,0,0.000,building a real estate,unknown stem,hous
5178,0,39,bachelor's degree,0,married,0,F,employee,0,55581.105,getting an education,unknown stem,hous
9186,0,48,bachelor's degree,0,married,0,F,employee,0,15405.508,building a property,unknown stem,hous
12576,0,62,secondary education,1,civil partnership,1,F,employee,0,0.000,having a wedding,unknown stem,hous
15241,3,38,bachelor's degree,0,married,0,M,business,0,0.000,housing,unknown stem,hous
14623,0,56,secondary education,1,married,0,F,employee,0,20239.772,building a real estate,unknown stem,hous
5260,0,27,some college,2,married,0,F,business,1,35330.105,building a real estate,unknown stem,hous
20286,2,48,secondary education,1,married,0,M,employee,0,24160.493,car purchase,unknown stem,hous
6737,1,33,secondary education,1,unmarried,4,F,employee,1,0.000,transactions with commercial real estate,unknown stem,hous
13873,2,41,secondary education,1,married,0,M,employee,0,23359.087,university education,unknown stem,hous
8620,4,34,secondary education,1,married,0,F,employee,0,26265.407,to become educated,unknown stem,hous
5398,2,52,secondary education,1,civil partnership,1,F,retiree,0,22754.634,university education,unknown stem,hous
16882,0,55,secondary education,1,civil partnership,1,F,employee,0,0.000,to have a wedding,unknown stem,hous
6551,0,58,graduate degree,4,married,0,M,employee,0,42945.794,going to university,unknown stem,hous
20036,0,53,secondary education,1,married,0,F,retiree,0,14933.829,construction of own property,unknown stem,hous
18850,1,36,secondary education,1,married,0,M,civil servant,0,29117.247,car,unknown stem,hous
8088,0,44,secondary education,1,married,0,M,employee,0,27690.894,purchase of the house for my family,unknown stem,hous
18400,0,50,bachelor's degree,0,married,0,M,business,0,82570.062,buying property for renting out,unknown stem,hous
16713,0,65,some college,2,married,0,M,employee,0,36694.272,purchase of my own house,unknown stem,hous
515,1,51,secondary education,1,married,0,F,business,0,0.000,cars,unknown stem,hous
6684,0,54,secondary education,1,widow / widower,2,F,employee,0,38374.940,building a real estate,unknown stem,hous
18527,0,24,bachelor's degree,0,unmarried,4,M,employee,0,14972.941,housing renovation,unknown stem,hous
11238,2,34,some college,2,civil partnership,1,F,employee,0,22171.091,buying my own car,unknown stem,hous
18773,1,35,bachelor's degree,0,married,0,F,business,0,18401.872,buying my own car,unknown stem,hous
15994,0,47,bachelor's degree,0,civil partnership,1,F,business,0,19866.451,wedding ceremony,unknown stem,hous
14878,0,46,secondary education,1,married,0,M,employee,0,7586.471,to own a car,unknown stem,hous
11358,0,50,secondary education,1,unmarried,4,F,retiree,0,12657.940,property,unknown stem,hous
9006,1,61,secondary education,1,married,0,M,retiree,0,5826.733,getting an education,unknown stem,hous
7186,3,29,secondary education,1,married,0,F,employee,0,29187.501,university education,unknown stem,hous
17744,1,53,secondary education,1,married,0,F,retiree,0,26268.501,to own a car,unknown stem,hous
17005,0,62,secondary education,1,married,0,F,retiree,0,15499.676,profile education,unknown stem,hous
15976,20,39,secondary education,1,unmarried,4,F,employee,0,0.000,buy real estate,unknown stem,hous
4668,0,67,secondary education,1,civil partnership,1,F,retiree,0,16784.620,to have a wedding,unknown stem,hous
5970,1,35,secondary education,1,married,0,F,employee,0,11643.670,cars,unknown stem,hous
4398,0,55,secondary education,1,civil partnership,1,F,employee,0,25997.777,having a wedding,unknown stem,hous
13578,2,41,secondary education,1,married,0,M,employee,0,25258.716,property,unknown stem,hous
1794,0,32,secondary education,1,married,0,F,employee,0,13004.737,buying property for renting out,unknown stem,hous
12209,1,46,secondary education,1,married,0,F,employee,1,27513.555,education,unknown stem,hous
11016,0,57,secondary education,1,widow / widower,2,F,retiree,0,9121.731,getting higher education,unknown stem,hous
9179,1,26,secondary education,1,married,0,M,employee,1,50721.427,building a property,unknown stem,hous
3928,0,45,secondary education,1,unmarried,4,F,employee,0,14091.139,housing,unknown stem,hous
115,1,38,bachelor's degree,0,married,0,F,civil servant,0,15655.724,transactions with commercial real estate,unknown stem,hous

In [59]:
stemmed_word_uniq = ['wed', 'estat', 'hous', 'properti', 'car', 'educ', 'univers']
def purpose_cat2(purpose):
    for query in queries:
        for word in query.split(' '):
            for each in stemmed_word_uniq:
                if stemmer.stem(word) == each:
                    return each

df['purpose2'] = df['purpose'].apply(purpose_cat2)

AttributeError: 'list' object has no attribute 'str'

In [56]:
df['purpose_cat2'].unique()

KeyError: 'purpose_cat2'

In [62]:
#This works!!!
def purpose_cat3(purpose):
    stemmed = [stemmer.stem(word) for word in purpose.split(' ')]
    if 'wed' in stemmed:
        return 'wedding'
    if 'estat' in stemmed:
        return 'estate'
    if 'hous' in stemmed:
        return 'estate'
    if 'properti' in stemmed:
        return 'estate'
    if 'car' in stemmed:
        return 'car'
    if 'educ' in stemmed:
        return 'education'
    if 'univers' in stemmed:
        return 'education'
    else:
        return 'unknown'

In [63]:
df['purpose3'] = df['purpose'].apply(purpose_cat3)

In [65]:
df['purpose3'].value_counts()

estate       10840
car           4315
education     4022
wedding       2348
Name: purpose3, dtype: int64

In [68]:
df.purpose3.unique()

array(['estate', 'car', 'education', 'wedding'], dtype=object)

In [69]:
df.sample(50)

,children,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category,purpose2,purpose3
4078,0,63,secondary education,1,civil partnership,1,F,retiree,1,0.000,wedding ceremony,unknown stem,hous,wedding
10228,1,38,secondary education,1,unmarried,4,F,employee,0,11290.431,buying property for renting out,unknown stem,hous,estate
11890,0,39,bachelor's degree,0,married,0,F,business,1,33314.533,buy residential real estate,unknown stem,hous,estate
9146,0,34,bachelor's degree,0,married,0,F,employee,0,36694.816,buy commercial real estate,unknown stem,hous,estate
13966,0,57,secondary education,1,married,0,F,retiree,0,23073.010,building a real estate,unknown stem,hous,estate
2869,0,38,secondary education,1,married,0,F,business,0,42805.975,cars,unknown stem,hous,car
19539,1,62,bachelor's degree,0,unmarried,4,F,retiree,0,25744.918,real estate transactions,unknown stem,hous,estate
5157,1,26,secondary education,1,married,0,M,employee,0,16145.674,real estate transactions,unknown stem,hous,estate
20898,0,41,secondary education,1,married,0,M,business,0,16525.074,to become educated,unknown stem,hous,education
3818,1,35,bachelor's degree,0,married,0,F,employee,0,22419.712,car purchase,unknown stem,hous,car
259,0,29,bachelor's degree,0,civil partnership,1,F,employee,0,33916.081,wedding ceremony,unknown stem,hous,wedding
20672,0,36,secondary education,1,married,0,F,civil servant,0,31396.906,building a property,unknown stem,hous,estate
9416,0,40,secondary education,1,married,0,M,business,0,16986.041,buying property for renting out,unknown stem,hous,estate
12552,2,38,primary education,3,married,0,M,employee,0,15946.813,buying a second-hand car,unknown stem,hous,car
15744,1,22,secondary education,1,married,0,M,employee,0,27185.066,real estate transactions,unknown stem,hous,estate
3064,0,63,secondary education,1,married,0,M,retiree,0,27823.046,purchase of the house for my family,unknown stem,hous,estate
5295,1,28,bachelor's degree,0,divorced,3,F,employee,0,16901.176,building a property,unknown stem,hous,estate
7796,1,37,secondary education,1,married,0,F,employee,0,16371.151,construction of own property,unknown stem,hous,estate
16556,0,56,secondary education,1,married,0,F,retiree,0,21888.056,buy real estate,unknown stem,hous,estate
11147,1,39,secondary education,1,married,0,M,business,0,32673.245,transactions with my real estate,unknown stem,hous,estate
7043,0,37,bachelor's degree,0,married,0,F,employee,0,0.000,buy real estate,unknown stem,hous,estate
3565,0,64,bachelor's degree,0,married,0,F,employee,0,24821.706,purchase of the house for my family,unknown stem,hous,estate
16142,0,47,secondary education,1,widow / widower,2,F,civil servant,1,17067.729,buying a second-hand car,unknown stem,hous,car
4957,1,59,secondary education,1,married,0,F,retiree,0,8172.688,transactions with my real estate,unknown stem,hous,estate
7452,0,62,secondary education,1,married,0,F,retiree,0,9172.738,transactions with commercial real estate,unknown stem,hous,estate
13817,1,29,bachelor's degree,0,civil partnership,1,F,employee,0,24308.272,education,unknown stem,hous,education
4575,1,37,secondary education,1,married,0,M,business,0,26605.614,buying property for renting out,unknown stem,hous,estate
5131,3,47,secondary education,1,married,0,F,civil servant,0,7540.341,buy residential real estate,unknown stem,hous,estate
10924,0,50,secondary education,1,married,0,F,employee,0,18382.077,buy residential real estate,unknown stem,hous,estate
21409,2,28,secondary education,1,married,0,F,employee,1,38719.939,purchase of the house for my family,unknown stem,hous,estate
3875,1,38,secondary education,1,civil partnership,1,F,civil servant,0,8074.093,purchase of the house for my family,unknown stem,hous,estate
12193,0,55,secondary education,1,widow / widower,2,F,retiree,0,24647.956,housing,unknown stem,hous,estate
2699,0,59,secondary education,1,widow / widower,2,F,retiree,0,30638.492,university education,unknown stem,hous,education
9988,0,24,secondary education,1,civil partnership,1,F,business,0,39625.653,wedding ceremony,unknown stem,hous,wedding
12094,0,29,secondary education,1,married,0,F,business,0,32844.285,car,unknown stem,hous,car
8991,0,37,secondary education,1,married,0,F,business,0,29013.992,buy residential real estate,unknown stem,hous,estate
19282,0,33,bachelor's degree,0,married,0,M,business,0,32175.361,building a property,unknown stem,hous,estate
16929,1,43,secondary education,1,married,0,M,employee,0,15865.329,second-hand car purchase,unknown stem,hous,car
542,1,35,secondary education,1,divorced,3,F,employee,0,15278.577,housing transactions,unknown stem,hous,estate
16923,0,60,secondary education,1,married,0,F,retiree,0,0.000,purchase of the house for my family,unknown stem,hous,estate
6437,2,29,secondary education,1,married,0,M,employee,0,12779.846,purchase of my own house,unknown stem,hous,estate
3974,0,64,secondary education,1,civil partnership,1,F,business,0,15497.365,to have a wedding,unknown stem,hous,wedding
9677,0,26,secondary education,1,civil partnership,1,M,employee,0,28637.016,car purchase,unknown stem,hous,car
2136,1,52,secondary education,1,married,0,M,retiree,0,41774.478,construction of own property,unknown stem,hous,estate
6628,1,49,secondary education,1,married,0,M,business,0,34579.243,transactions with commercial real estate,unknown stem,hous,estate
8955,2,41,secondary education,1,married,0,F,business,0,36066.108,second-hand car purchase,unknown stem,hous,car
14870,0,56,bachelor's degree,0,married,0,F,retiree,0,11992.359,buy residential real estate,unknown stem,hous,estate
236,0,59,secondary education,1,married,0,F,retiree,0,22873.047,to buy a car,unknown stem,hous,car
3556,3,63,secondary education,1,married,0,F,retiree,0,12653.683,transactions with commercial real estate,unknown stem,hous,estate
10407,0,46,secondary education,1,married,0,F,civil servant,0,13206.706,car,unknown stem,hous,car

In [70]:
df.children.value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

In [72]:
df['children'].describe()

count    21525.000000
mean         0.538908
std          1.381587
min         -1.000000
25%          0.000000
50%          0.000000
75%          1.000000
max         20.000000
Name: children, dtype: float64